# Logs
logs/
*.log

# Environment variables
.env

# Dependencies
/node_modules
npm-debug.log
yarn-error.log

# Build output
/dist

# Editor files
.vscode/
.idea/

# Testing files
/coverage

# Miscellaneous
.DS_Store
Thumbs.db

# Optional: Ignore specific files or directories
# /path/to/file.ext
# /path/to/directory/
